

<td class="py-2 pr-2">
  <div class="flex items-center">
   <div class="flex flex-col justify-items-start">
      <a href="#" class="mb-1 text-sm font-semibold text-foreground">{{ review.text }}</a>
      <span class="text-xs font-semibold text-muted-foreground/50">{{ review.userId }}</span>
    </div>
  </div>
</td>
<td class="py-2 pl-2 ">
  <span class="text-sm font-semibold text-muted-foreground">{{ review.stars }}</span>
</td>
<td class="py-2 pl-2 ">
  <span class="text-sm font-semibold text-muted-foreground">{{ review.useful }}</span>
</td>
<td class="py-2 pl-2 ">

  <span class="text-sm font-semibold text-muted-foreground">{{ review.funny }}</span>
</td>
<td class="py-2 pl-2 ">
  <span class="text-sm font-semibold text-muted-foreground">{{ review.cool }}</span>
</td>
<td class="py-2 pl-2 ">
  <span class="text-sm font-semibold text-muted-foreground">{{ review.date }}</span>
</td>
