<div class="max-w-2xl mx-auto p-8 shadow-md rounded-md">

  <h2 class="text-2xl font-bold mb-6 text-center text-primary">Crear Nuevo Negocio</h2>

  <form [formGroup]="businessForm">

     <!-- Información Básica -->
     <div class="mb-6">
      <h3 class="text-2xl font-semibold mb-3 text-foreground">Información Básica</h3>
      <div class="mb-4">
        <label class="text-muted-foreground text-sm font-bold mb-2" for="name">Nombre del Negocio</label>
        <input
          type="text"
          id="name"
          formControlName="name"
          class="w-full px-4 py-2 border rounded-md"
          placeholder="Ingrese el nombre del negocio"
        />
        <div *ngIf="businessForm.get('name')?.invalid && businessForm.get('name')?.touched" class="error-message">
          <small>El nombre del negocio es obligatorio.</small>
        </div>
      </div>
    </div>
    <!-- Ubicación -->
    <div class="mb-6">
      <h3 class="text-2xl font-semibold mb-3 text-foreground">Ubicación</h3>
      <div class="mb-4">
        <label class="text-muted-foreground text-sm font-bold mb-2" for="address">Dirección</label>
        <input
          type="text"
          id="address"
          formControlName="address"
          class="w-full px-4 py-2 border rounded-md"
          placeholder="Ingrese la dirección"
        />
      </div>
      <div class="grid grid-cols-2 gap-4">
        <div>
          <label class="text-muted-foreground text-sm font-bold mb-2" for="city">Ciudad</label>
          <input
            type="text"
            id="city"
            formControlName="city"
            class="w-full px-4 py-2 border rounded-md"
            placeholder="Ciudad"
          />
        </div>
        <div>
          <label class="text-muted-foreground text-sm font-bold mb-2" for="state">Estado</label>
          <input
            type="text"
            id="state"
            formControlName="state"
            class="w-full px-4 py-2 border rounded-md"
            placeholder="Estado"
          />
        </div>
      </div>
      <div class="grid grid-cols-2 gap-4 mt-4">
        <div>
          <label class="text-muted-foreground text-sm font-bold mb-2" for="latitude">Latitud</label>
          <input
            type="number"
            id="latitude"
            formControlName="latitude"
            class="w-full px-4 py-2 border rounded-md"
            placeholder="Latitud"
            step="any"
          />
        </div>
        <div>
          <label class="text-muted-foreground text-sm font-bold mb-2" for="longitude">Longitud</label>
          <input
            type="number"
            id="longitude"
            formControlName="longitude"
            class="w-full px-4 py-2 border rounded-md"
            placeholder="Longitud"
            step="any"
          />
        </div>



      </div>
    </div>

    <!-- Detalles -->
    <div class="mb-6">
      <h3 class="text-2xl font-semibold mb-3 text-foreground">Detalles</h3>
      <div class="mb-4">
        <label class="text-muted-foreground text-sm font-bold mb-2" for="categories">Categorías</label>
        <textarea
          id="categories"
          formControlName="categories"
          class="w-full px-4 py-2 border rounded-md"
          placeholder="Ejemplo: Doctors, Health & Medical, Nutritionists"
          rows="2"
        ></textarea>
      </div>
      <div class="mb-4">
        <label class="text-muted-foreground text-sm font-bold mb-2" for="attributes">Atributos</label>
        <textarea
          id="attributes"
          formControlName="attributes"
          class="w-full px-4 py-2 border rounded-md"
          placeholder="Ingrese los atributos JSON"
          rows="3"
        ></textarea>
      </div>
    </div>

    <!-- Horarios -->
    <div class="mb-6">
      <h3 class="text-muted-foreground text-sm font-bold mb-2">Horarios</h3>
      <textarea
        id="hours"
        formControlName="hours"
        class="w-full px-4 py-2 border rounded-md"
        placeholder="Ejemplo: { 'Monday': '11:00-18:00', 'Tuesday': '11:00-18:00' }"
        rows="4"
      ></textarea>
    </div>

    <!-- Botón de Envío -->
    <div class="text-center">
      <button
        type="submit"
        class="rounded-md bg-primary hover:bg-primary-dark px-6 py-3 text-white font-bold transition duration-200"
      (click)="createBusiness()">
        Guardar Negocio
      </button>
    </div>
  </form>
</div>

