<div class="p-4">


  <div class="grid grid-cols-1 gap-4 md:grid-cols-2 lg:grid-cols-2 xl:grid-cols-4 mt-4">
    <!-- Business Summary Component -->
    <app-BusinessSummary [business]="business"[usuarioFavorito]="usuario"></app-BusinessSummary>
  </div>

  <!-- Additional Information (e.g., Auctions Table, etc.) -->
  <div class="mt-4 grid grid-cols-1">


    <app-review-table  [idBusiness]="business.business_id"  [reviews]="reviewList" class="col-span-full"> </app-review-table>

  </div>
</div>

