


<ng-container>

  <td class="text-center">


    <input
      [(ngModel)]="user.selected"
      class="checkbox checkbox-sm"
      data-datatable-row-check="true"
      type="checkbox"
      value="28" />
  </td>
  <td>
    <div class="flex items-center gap-1.5">
      <img
        alt="user avatar"
        class="h-12 w-12 shrink-0 rounded-full"
        src="https://ui-avatars.com/api/?name={{ user.name }}&background=random" />
      <div class="flex flex-col">
        <a class="text-sm font-semibold text-foreground hover:text-primary" href="#"> {{ user.name }} </a>

        <div class="flex items-center ">
          <div class="flex h-5 w-5 items-center justify-center rounded-full bg-primary text-center">
            <span class="text-base font-semibold text-primary-foreground">★</span>
          </div>
    <td class="text-sm font-semibold text-foreground">{{ user.averageStars }} / 5</td>

        </div>

       <!-- <a class="text-xs font-medium text-muted-foreground/70 hover:text-primary" href="#">
          {{ user.yelping_since}}
        </a>-->
      </div>
    </div>
  </td>
  <td> {{ user.yelpingSince | date:'dd/MM/yyyy'}}</td>
  <td>{{ user.friendsCount }}</td>
  <td class="space-x-1">
   {{user.votesCount}}
  </td>
  <td>
    {{ user.complimentCount }}
  </td>

  


</ng-container>
