<div>
  <!-- Header -->
  <app-BusinessHeader></app-BusinessHeader>
  <!-- end Header -->

  <div class="grid grid-cols-1 gap-4 md:grid-cols-2 lg:grid-cols-2 xl:grid-cols-4">
    <!-- Dual Card -->
    <div BusinessCard [business]="business[0]" ></div>
    <!-- end Dual Card -->
    <!-- Single Card -->
    <div BusinessCard [business]="business[1]"></div>
    <!-- end Single Card -->
    <!-- Single Card -->
    <div BusinessCard [business]="business[2]"></div>

    <div BusinessCard [business]="business[0]"></div>

    <div BusinessCard [business]="business[1]"></div>

    <div BusinessCard [business]="business[2]"></div>
    <!-- end Single Card -->
    <!-- Single Card -->

    <!-- end Single Card -->
  </div>

  <!-- Auctions Table -->
  <div class="mt-4 grid grid-cols-1">
    <div review-table></div>
  </div>
</div>
