<div class="w-screen min-h-screen p-5 font-sans flex flex-col space-y-6">
  <!-- Información principal del negocio -->
  <div>
    <h1 class="text-4xl font-semibold mb-3 text-foreground text-left">{{ business.name }}</h1>

    <div class="flex items-left justify-left space-x-2 mb-4">
      <div class="flex h-8 w-8 items-center justify-center rounded-full bg-primary text-center">
        <span class="text-base font-semibold text-primary-foreground">★</span>
      </div>
      <div>
        <small class="text-xs text-muted-foreground">Puntuación:</small>
        <span class="text-sm font-semibold text-foreground">{{ business.stars }} / 5</span>
      </div>
    </div>

    <p class="text-muted-foreground text-sm font-bold text-left">{{ business.address }}</p>
    <p class="text-muted-foreground text-sm font-bold text-left mb-2">
      {{ business.city }}, {{ business.state }} {{ business.postal_code }}
    </p>
    <p class="font-semibold text-left"
       [class.text-green-500]="business.is_open"
       [class.text-red-500]="!business.is_open">
      {{ business.is_open ? 'Abierto ahora' : 'Cerrado' }}
    </p>
  </div>

  <!-- Usuario con más tips -->
  <div *ngIf="topTipUser; else noTips" class="mb-6">
    <h3 class="text-2xl font-semibold mb-3 text-foreground text-left">Usuario más activo</h3>
    <p class="text-muted-foreground text-sm font-bold text-left">
      El usuario que ha escrito más cumplidos a este comercio es: <span class="text-foreground">{{usuarioFavorito.name }}</span>
      con <span class="text-foreground">{{usuarioFavorito.complimentCount }}</span> cumplidos.
    </p>
  </div>

  <!-- Mensaje si no hay tips -->
  <ng-template #noTips>
    <div class="mb-6">
      <h3 class="text-2xl font-semibold mb-3 text-foreground text-left">Usuario más activo</h3>
      <p class="text-muted-foreground text-sm font-bold text-left">
        Ningún usuario ha dejado propina por el momento.
      </p>
    </div>
  </ng-template>


  <!-- Localización -->
  <div>
    <h3 class="text-2xl font-semibold mb-3 text-foreground text-left">Localización</h3>
    <div class="flex justify-left">
      <img src="assets/images/Location.png" alt="Mapa" class="w-full max-w-screen-md h-auto rounded-lg shadow-lg" />
    </div>
  </div>

  <!-- Horario -->
  <div>
    <h3 class="text-2xl font-semibold mb-6 text-foreground text-left">Horario</h3>
    <div class="flex flex-col space-y-2 items-left">
      <div *ngFor="let day of business.hours | keyvalue" class="text-gray-600">
        <p>{{ day.key }}: {{ day.value }}</p>
      </div>
    </div>
  </div>

  <!-- Extras -->
  <div>
    <h3 class="text-2xl font-semibold mb-6 text-foreground text-left">Extras</h3>
    <div class="flex flex-col space-y-2 items-left">
      <div *ngFor="let attribute of business.attributes | keyvalue" class="flex items-left">
        <i class="attribute-icon text-gray-500 mr-3">{{ attribute.key }}</i>
        <p class="font-semibold"
           [class.text-green-500]="attribute.value"
           [class.text-red-500]="!attribute.value">
          {{ attribute.value ? 'Sí tiene' : 'No tiene' }}
        </p>
      </div>
    </div>
  </div>

  <!-- Categorías -->
  <div>
    <h3 class="text-2xl font-semibold mb-6 text-foreground text-left">Categorías</h3>
    <div class="flex flex-wrap gap-3 justify-left">
      <div class="bg-primary px-4 py-2.5 text-primary-foreground rounded-full"
           *ngFor="let category of business.categories">
        {{ category }}
      </div>
    </div>
  </div>
</div>
