<div class="w-screen h-screen flex p-5 font-sans">
  <div class="flex-1 p-5">
    <h1 class="text-4xl font-semibold mb-3 text-foreground">{{ business.name }}</h1>
    <div class="flex items-center justify-center space-x-2">
      <div class="flex h-8 w-8 items-center justify-center rounded-full bg-primary text-center">
        <span class="text-base font-semibold text-primary-foreground">★</span>
      </div>
      <div>
        <small class="text-xs text-muted-foreground">Puntuación: </small>
        <span class="text-sm font-semibold text-foreground">{{ business.stars }} / 5</span>
      </div>
    </div>
    <p class="text-muted-foreground text-sm font-bold mb-2">{{ business.address }}</p>
    <p class="text-muted-foreground text-sm font-bold mb-2">{{ business.city }}, {{ business.state }} {{ business.postalCode }}</p>
    @if(business.isOpen){<p class="text-green-500 font-semibold">Abierto ahora</p>}
    @else{ <p class="text-red-500 font-semibold">Cerrado</p>}

    <div class="w-full p-5">
      <h3 class="text-2xl font-semibold mb-3 text-foreground text-center">Localización</h3>
      <div class="flex justify-center">
        <img src="assets/images/Location.png" alt="Map Image" class="w-full max-w-screen-lg h-auto rounded-lg shadow-lg" />
      </div>
    </div>

  </div>


  <div class="flex-1 p-5">
    <div class="reviews mb-5">
      <h3 class="text-2xl font-semibold mb-6 text-foreground p-5">Reseñas</h3>
      <p class="text-gray-600">{{ business.reviewCount }} Reseñas</p>
      <button class="text-blue-600 hover:underline" (click)="showMoreReviews()">Ver más reseñas</button>
    </div>
    <button class="self-center rounded-md  px-4 py-2.5 text-xs font-semibold text-primary-foreground bg-primary" (click)="callBusiness()">LLamar</button>
  </div>

  </div>

  <div class="hours mb-5">
    <h3 class="text-2xl font-semibold mb-6 text-foreground">Horario</h3>
    <div *ngFor="let day of business.hours | keyvalue" class="mb-2">
      <p class="text-gray-600">{{ day.key }}: {{ day.value }}</p>
    </div>
  </div>


  <div class="attributes mb-5 p-3">
    <h3 class="text-2xl font-semibold mb-6 text-foreground">Extras</h3>
    <div class="attribute-item flex items-center mb-2" *ngFor="let attribute of business.attributes | keyvalue">
      <i class="attribute-icon text-gray-500 mr-3">{{ attribute.key }}</i>
      @if(attribute.key){<p class="text-green-500 font-semibold">Sí tiene</p>}
      @else{ <p class="text-red-500 font-semibold">No tiene</p>}

    </div>
    <div class="categories mb-5 p-3">
      <h3 class="text-2xl font-semibold mb-6 text-foreground">Categorias</h3>
      <div class="category-chip flex gap-3 justify-center">
        <div class="bg-primary px-4 py-2.5 text-primary-foreground rounded-full" *ngFor="let category of business.categories">{{ category }}</div>
      </div>
    </div>









